@font-face {
    font-family: 'GilroyExtraBold';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GilroyLight';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2'),
         url('../font/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  text-transform: none;
  
 background-color: #ffffff;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

a {
  text-decoration: none;
}

.button {
  width: 260px;

  font-family: 'GilroyExtraBold';
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  background-image: url("../img/button-line.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}

.button:active{
opacity: 0.3;
}



.contacts-popup input.forms,
.contacts-popup textarea {
  background-color: #e5e5e5;
  opacity: 0.5;
  border: none;
  }

.contacts-popup input.forms:hover,
.contacts-popup textarea:hover {
  background-color: #e5e5e5;
  opacity: 0.8;
  border: none;
  }

.contacts-popup input.forms:focus,
.contacts-popup textarea:focus {
  background-color: transparent;
  outline: none;
  border: 3px solid rgba(240, 197, 46, 0.5);

  } 

.contact-us-cancel {
  width: 55px;
  height: 55px;
  border: none;
  background-image: url("../img/modal-close.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.contact-us-cancel:hover,
.contact-us-cancel:focus {
  opacity: 1;
}

.contact-us-cancel:active {
  opacity: 0.3;
}


.header {
   background-color: #f0c52e;
   opacity: 0.5;
}

.footer {
  background-color: #464646;
}

h2 {
  font-family: 'GilroyExtraBold';
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.header-site-navigation,
.header-user-navigation {
  list-style: none;
  }

.header-user-navigation a,
.footer-user-navigation a
{
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.15px;
}

.header-site-navigation a,
.footer-site-navigation a{
  font-family: 'GilroyExtraBold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.header-site-navigation a,
.header-user-navigation a {
color: #000000;
}

.footer-site-navigation a,
.footer-user-navigation a {
  color: #ffffff;
}

.footer-user-navigation a,
.footer-social a {
  opacity: 0.7;
}

.header-user-navigation a:hover,
.footer-site-navigation a:hover,
.header-site-navigation a:hover,
.header-logo:hover,
.footer-logo:hover,
.header-site-navigation a:focus,
.header-logo:focus,
.footer-logo:focus,
.academy:hover,
.academy:focus,
.breadcrumbs a:focus,
.breadcrumbs a:hover {
opacity: 0.6;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-social a:hover,
.footer-social a:focus {
opacity: 1;
}

.header-user-navigation a:active,
.header-site-navigation a:active,
.footer-user-navigation a:active,
.footer-site-navigation a:active,
.header-logo:active,
.footer-logo:active,
.footer-social a:active,
.academy:active,
.log-out-link a {
opacity: 0.3;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.log-out-link a:active {
opacity: 1;
}

.contact-us label,
.catalog-item-title {
  font-family: 'GilroyExtraBold';
  color: black;
  font-size: 18px;
  line-height: 24px;
}

::placeholder {  
  font-size: 14px;
  line-height: 18px;
  color: #464646; 
  opacity: 0.4;
}

.footer-number, 
.footer-contacts {
  color: #ffffff;
}

.footer-user-navigation img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(107%) contrast(102%);
}

img.catalog-icon {
  filter:invert(87%) sepia(26%) saturate(5471%) hue-rotate(357deg) brightness(101%) contrast(108%);
}

.catalog-menu a{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.15px;
}

.catalog-menu{
list-style: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: 000000;
  opacity: 0.3;
}

.breadcrumbs a:visited {
  color: inherit;
}

.filters ul{
  list-style: none;
}

.filters legend {
  font-family: 'GilroyExtraBold';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  font-family: 'GilroyLight';
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.filters label{
  font-size: 14px;
  line-height: 10px;
}

.filters fieldset{
border: none;
}

.new-item {
  font-family: 'GilroyExtraBold';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: black;
  opacity: 0.2;

  border: 2px solid black;
  border-radius: 50%;

  text-align: center;
  vertical-align: middle;

padding: 5px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

.filters {
  background-color: #eeeeee;
}

.about-companies {
  font-family: 'GilroyExtraBold';
  color: black;
}

.contacts-popup,
.map-popup {
  display: none;
}

body {
  background-image: url('../img/device-index.jpg');
  background-size: 1440px auto;
  background-repeat: no-repeat;
}

.wrapper {
  width: 81%;
  max-width: 1160px;
  margin: auto;
}

.header {
   margin-bottom: 75px;
   margin-top: 0px;
   min-height: 200px;
   opacity: 0.5;
}

.header-navigation {
   margin-bottom: 75px;
   margin-top: 0px;
   min-height: 200px;
   outline: 2px solid blue;
}

.header-navigation p{
  margin: 0px;
}

.header-logo {
  width: 163px;
  height: 35px;
  margin-left: 60px;
  margin-top: 20px;

  display: block;

  outline: 2px solid green;

  } 

.header-user-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 80px;

  outline: 2px solid red;
}


.header-site-navigation {
  margin: 0;
  padding: 0;
  
  list-style: none;
  
  /* Временно для сетки */
  min-height: 80px;

  outline: 2px solid purple;
}
