@font-face {
  font-family: 'GilroyExtraBold';
  src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2'), url('../font/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GilroyLight';
  src: url('../font/gilroy-light-webfont.woff2') format('woff2'), url('../font/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
  text-transform: none;
  background-color: #ffffff;
  /* background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat; */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.button {
  width: 260px;
  font-family: 'GilroyExtraBold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  background-image: url("../img/button-line.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}

.button a:active {
  opacity: 0.3;
}

.button span:active {
  opacity: 0.3;
}

.service-button:active {
  background-color: transparent;
  background-image: url("../img/black-button.jpg");
  background-size: 278px 40px;
  background-position: left;
  background-repeat: no-repeat;
  color: #f7e184;
  width: 278px;
  text-align: left;
}

.service-button:active p {
  padding-left: 20px;
}

.contacts-popup input.forms,
.contacts-popup textarea {
  background-color: #e5e5e5;
  opacity: 0.5;
  border: none;
}

.contacts-popup input.forms:hover,
.contacts-popup textarea:hover {
  background-color: #e5e5e5;
  opacity: 0.8;
  border: none;
}

.contacts-popup input.forms:focus,
.contacts-popup textarea:focus {
  background-color: transparent;
  outline: none;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.contact-us-cancel {
  width: 55px;
  height: 55px;
  border: none;
  background-image: url("../img/modal-close.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.contact-us-cancel:hover,
.contact-us-cancel:focus {
  opacity: 1;
}

.contact-us-cancel:active {
  opacity: 0.3;
}

.header {
  /*background-color: rgba(240, 197, 46, 0.5);*/
  background-image: url('../img/header-background.png');
  background-position: 0px 40px;
  background-repeat: no-repeat;
  /*  background-size: 1160px 188px;*/
}

.footer {
  background-color: rgba(70, 70, 70);
  display: flex;
  flex-direction: row;
  min-height: 323px;
}

h2 {
  font-family: 'GilroyExtraBold';
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  margin-top: 52px;
  margin-bottom: 30px;
  letter-spacing: 0.47px;
}

.header-site-navigation,
.header-user-navigation {
  list-style: none;
}

.header-user-navigation a,
.footer-user-navigation a {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.15px;
}

.header-site-navigation a,
.footer-site-navigation a {
  font-family: 'GilroyExtraBold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-site-navigation a,
.header-user-navigation a {
  color: #000000;
}

.footer-site-navigation a,
.footer-user-navigation a {
  color: #ffffff;
}

.footer-user-navigation a,
.footer-social a {
  opacity: 0.7;
}

.header-user-navigation a:hover,
.footer-site-navigation a:hover,
.header-site-navigation a:hover,
.header-logo:hover,
.footer-logo:hover,
.header-site-navigation a:focus,
.header-logo:focus,
.footer-logo:focus,
.academy:hover,
.academy:focus,
.breadcrumbs a:focus,
.breadcrumbs a:hover {
  opacity: 0.6;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-social a:hover,
.footer-social a:focus {
  opacity: 1;
}

.header-user-navigation a:active,
.header-site-navigation a:active,
.footer-user-navigation a:active,
.footer-site-navigation a:active,
.header-logo:active,
.footer-logo:active,
.footer-social a:active,
.academy:active,
.log-out-link a {
  opacity: 0.3;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.log-out-link a:active {
  opacity: 1;
}

.contact-us label,
.catalog-item-title {
  font-family: 'GilroyExtraBold';
  color: black;
  font-size: 18px;
  line-height: 24px;
}

::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  opacity: 0.4;
}

.footer-number,
.footer-contacts {
  color: #ffffff;
}

.footer-user-navigation img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(157deg) brightness(107%) contrast(102%);
}

img.catalog-icon {
  filter: invert(87%) sepia(26%) saturate(5471%) hue-rotate(357deg) brightness(101%) contrast(108%);
}

.icon {
  margin-right: 10px;
}

.catalog-menu a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.15px;
}

.catalog-menu {
  list-style: none;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: 000000;
  opacity: 0.3;
  letter-spacing: 0.14px;
}

.breadcrumbs a:visited {
  color: inherit;
}

.breadcrumbs li {
  padding-right: 15px;
}

.filters ul {
  list-style: none;
}

.filters legend {
  font-family: 'GilroyExtraBold';
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.catalog-item-price {
  font-family: 'GilroyLight';
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.filters label {
  font-size: 14px;
  line-height: 10px;
}

.filters fieldset {
  border: none;
}

.filters legend::before {
  content: url(../img/filter-line.jpg);
}

.filters img {
  width: 201px;
  height: 2px;
}

.new-item {
  font-family: 'GilroyExtraBold';
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: black;
  opacity: 0.2;
  border: 2px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
}

.filters {
  display: flex;
  flex-direction: row;
  max-width: 470px;
}

.filter-small {
  padding-left: 170px;
  padding-top: 55px;
  max-width: 470px;
  background-color: #efefef;
  opacity: 0.5;
}

.about-companies {
  font-family: 'GilroyExtraBold';
  color: black;
}

.contacts-popup,
.map-popup {
  display: none;
}

body {
  /*background-image: url('../img/device-index-1.jpg');*/
  /*  background-image: url('../img/device-catalog.jpg');*/
  background-size: 1440px auto;
  background-repeat: no-repeat;
}

.wrapper {
  width: 81%;
  max-width: 1160px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header {
  margin-top: 0px;
  min-height: 180px;
}

.header-catalog {
  margin-top: 0px;
  min-height: 226px;
}

.header-navigation {
  margin-top: 0px;
  min-height: 180px;
}

.header-navigation p {
  margin-top: 0px;
  padding-top: 21px;
  margin-bottom: 0px;
}

.header-logo {
  width: 163px;
  height: 35px;
  margin: 0px;
  margin-left: 60px;
  display: block;
}

.header-user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 72.5px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between;*/
  box-sizing: border-box;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 9px;
}

.header-user-navigation li,
.header-site-navigation li {
  margin-right: 36px;
}

.header-user-navigation li:first-child,
.header-site-navigation li:first-child {
  min-width: 300px;
  margin-right: 10px;
}

.header-user-navigation li:nth-child(2),
.header-site-navigation li:nth-child(2) {
  margin-left: 230px;
}

.header-user-navigation li:nth-child(3):not(.log-out-link) {
  margin-left: 182px;
}

.header-site-navigation li:nth-child(4) {
  margin-left: 72px;
}

.header-user-navigation li:last-child,
.header-site-navigation li:last-child {
  margin-right: 0px;
}

.header-user-navigation .username {
  margin-right: 0px;
}

.header-user-navigation .log-out-link {
  margin-left: 15px;
}

.header-user-navigation li:nth-child(4) {
  margin-left: 28px;
}

.header-site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  /* Временно для сетки */
  min-height: 72.5px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  box-sizing: border-box;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

.index {
  margin-top: 0px;
  flex-grow: 1;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin-top: 85px;
  margin-bottom: 68px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 560px;
  background-image: url("../img/black-line.jpg");
  background-position: top left;
  background-repeat: no-repeat;
}

.about-info-2 {
  padding-top: 0px;
}

.contacts {
  display: flex;
  flex-direction: column;
  max-width: 562px;
}

.map-img {
  margin-top: 25px;
  margin-bottom: 45px;
}

.about-companies {
  padding-left: 35px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.about-companies li {
  margin-top: 10px;
}

.footer-first {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.footer-first p {
  padding-top: 0px;
  margin: 0px;
  min-height: 40px;
}

.footer-logo {
  width: 163px;
  height: 35px;
  margin-top: 0px;
  padding-top: 5px;
  display: block;
}

.footer-user-navigation {
  display: flex;
  flex-direction: row;
  /*  justify-content: f;*/
  list-style: none;
  padding: 0px;
}

.footer-user-navigation li {
  padding-left: 40px;
}

.footer-user-navigation li:first-child {
  padding-left: 0px;
}

.footer-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
  align-items: center;
}

.footer-navigation {
  margin-left: -60px;
}

.footer-site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  width: 440px;
}

.footer-site-navigation li {}

.footer-third {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
  width: 160px;
  margin-left: -56px;
}

.footer-social li {
  /*  padding-left: 15px;*/
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-end;
  max-width: 970px;
}

.catalog-main {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  max-width: 800px;
  margin-left: 52px;
  padding-left: 0px;
}

.catalog-item {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
  margin: 20px;
  margin-top: 40px;
}

.catalog-item img {
  opacity: 0.5;
}

.catalog-header {
  padding-left: 20px;
}

.page-name {
  margin-top: 38px;
  margin-left: 40px;
  margin-bottom: 18px;
}

.item-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li .plus-icon {
  margin-left: 10px;
}

.popular-preview {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.yellow {
  width: 160px;
  height: 160px;
  background: rgb(240, 197, 46);
  background: rgba(240, 197, 46, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popular-preview li p {
  max-width: 160px;
  margin-top: 33px;
  letter-spacing: 0.17px;
}

.popular-preview li:hover .yellow,
.popular-preview li:focus .yellow {
  background: rgb(240, 197, 46);
}

.popular-preview li:active .yellow img,
.popular-preview li:active p {
  opacity: 0.3;
}

.logotypes {
  margin-top: 90px;
  margin-bottom: 50px;
}

.logotypes-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.logotypes-preview li {
  opacity: 0.2;
}

.services {
  margin-top: 63px;
  min-height: 390px;
  background-image: url("../img/services-bgr.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 288px;
}

.services-block {
  display: flex;
  flex-direction: row;
}

.services-nav-block {
  min-width: 284px;
  min-height: 319px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/services-line.png");
  background-position: top right;
  background-repeat: no-repeat;
}

.services-nav {
  list-style: none;
  margin-top: 68px;
  padding: 0px;
}

.services-nav li {
  width: 160px;
  margin-bottom: 40px;
}

.services-desc {
  width: 500px;
  margin-left: 117px;
  margin-top: 21px;
}

.delivery-boy {
  margin-top: 85px;
  margin-left: 58px;
}

.slider {
  height: 540px;
  margin-bottom: 77px;
  background-image: url('../img/header-background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 138px;
  display: flex;
  flex-direction: row;
}

.slider-img {
  width: 565px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider-text {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.slider-top {
  background-image: url("../img/white-line.jpg"), url("../img/01.png");
  background-position: 7.5% 20%, 86% 18%;
  background-repeat: no-repeat;
  background-size: 100px 7px, 166px 131px;
}

.slider-h2 {
  padding-top: 54px;
  padding-left: 36px;
  line-height: 56px;
  margin-bottom: 5px;
}

.slider-top p {
  padding-left: 36px;
  padding-top: 5px;
  margin-bottom: 30px;
}

.slider-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-mid .button {
  width: 220px;
  margin-left: 36px;
}

.slider-bottom {
  display: flex;
  flex-direction: row;
}

.slider-info-desc {
  display: flex;
  flex-direction: column;
}

.slider-info {
  font-family: 'GilroyLight';
  font-size: 36px;
  line-height: 28px;
  letter-spacing: 0.36px;
  margin-bottom: 5px;
  margin-top: 44px;
  color: black;
}

.slider-desc {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider-info-desc:first-child {
  padding-left: 37px;
}

.slider-info-desc:not(:first-child) {
  padding-left: 76px;
}

.gray {
  background-image: url("../img/gray.png");
  background-repeat: no-repeat;
  background-size: 100% 70px;
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  min-height: 70px;
}

.sorting {
  display: flex;
  flex-direction: row;
}

/*commit*/